.btns {
  padding: 1rem;
  color: #fff;
  background: #00bfa5;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  height: 3rem;
  width: 7.5rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}
